.content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    ;
  }
  .login {
    min-height: 100px;
    min-width: 100px;
;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .label {
    margin-top: 8px;
    }
  
  .btn {
    margin-top: 12px;
  }
  
  .login-form input {
    min-width: 240px;
    padding: 12px 0;
    padding-left: 12px;
  }
  
  
  #error{
    display: none;
  }
  .input{
    height: 10px;
  }