
.img-style{
    width:430px;
    height:550px;
}
.text-bold{
    font-weight:bold;
    font-size:300%;
}
.product-div{
    border: solid black;
    width: 430px;
    background-color:white; 
}
.product-abba{
    display: flex;
    background:red;
    padding: 10px;
    top: 0px;
    position: fixed;
    width: 100%;
}
.logo{
    width:40px;
    height:30px;
}
body{
    color:#555;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.footer-container{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    padding:0px 50px; 
}
.product-info{border:solid white ;
    width: 430px;
    background-color:white;}
.product-display{
    width: 70%;
    margin-right:60px;
}
.product-img{
    width:900px;
    height:1100px;
}    
.product-detail-container{
    display: flex;
    padding:0 5%;
    margin:60px 0px;
}
.detail-display{
    width: 30%;
    padding-left:40px ;
}
.text-center{
    text-align: center;
}
select{
    width:120px;
    height:30px;
    font-size: 15px;
    border-radius:5%;
}
button{
    width: 150px;
    background-color: lightblue;
    border-radius:10% solid;
    height:30px;
}
.menu-a{
    margin:10px 0px;
}
.product-div a p:hover{
    background-color:lightblue;
}

