
.img-style{
    width:430px;
    height:550px;
}
.text-bold{
    font-weight:bold;
    font-size:300%;
}
.product-div{
    border: solid black;
    width: 430px;
    background-color:white; 
}
.product-abba{
    display: flex;
    background:red;
    padding: 10px;
    top: 0px;
}
.logo{
    width:40px;
    height:30px;
}
body{
    color:#555;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.footer-container{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    padding:0px 50px; 
}

