.tensach{
    color: red;
    font-style: italic;
    text-align: center;
    font-size: 300%;
}
.tomtat{
    margin-top: 50px;
    font-size: 200%;
    color: blue;
}
.tacgia{
    font-size:200%;
    color: blue;
    margin-top: 50px;
}
.tt{
    font-size: 150%;
    margin-left: 50px;
}
.img{
    margin-left: 500px;
}